{%extends 'working/base.html' %}
{%load static%}
{%block home-section%}

<h3  style="display:inline-block;">Dashboard</h3>
<h2 style="display:inline-block; margin-left:1rem; color:var(--green);">Welcome {{ request.user.username }} !</h2>


<hr>

<div class="row ">
  <div class="card">
    
    <div class="content">
      <h2>60</h2>
      <p class="tagline">Courses</p>
    </div>
    <i class="fas fa-book"></i>
  </div>
  <div class="card">
    <div class="content">
      <h2>10</h2>
      <p class="tagline">Students</p>
    </div>
    <i class="fas fa-user"></i>
  </div>
  <div class="card">
   
    <div class="content">
      <h2>500</h2>
      <p class="tagline">Staff</p>
    </div>
    <i class="fas fa-user-tie"></i>
  </div>
  <!-- <div class="card">
    <i class="fas fa-clipboard"></i>
    <div class="content">
      <h2>5000</h2>
      <p class="tagline">Complaints</p>
      <p id="num-staff"></p>
    </div>
  </div> -->
 <div class="card">
   
    <div class="content">
      <h2>5000</h2>
      <p class="tagline">Revenue</p>
    </div>
       <i class="fas fa-sack-dollar"></i>
  </div>

</div>

<div class="graphBox container">
  <div class="box" >

      <canvas id="myChart1" height="500"></canvas>
  
  </div>

  <div class="box">
    <canvas id="myChart2"></canvas>
  </div>
</div>

<style>
  
 .row {
   margin-left: -6px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  scroll-behavior: smooth;
  text-align: center;
  width: 100%;
}

.card {
  width: calc(22% - 10px);
  height: 99px;
  padding: 10px;  
  border-radius: 10px;
  box-shadow:0px 2px 5px 7px rgb(0 0 0 / 10%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  
}

.card i {
  font-size: 2rem;
  /* margin-right: 1rem; */
  color: #343434;
  padding: 12px;
  border-radius: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: .5rem;
}

.card h2 {
  margin-top: 0;
  font-size: 2rem;
  color: var(--green);
}

.tagline {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  color:grey;
}

.graphBox
{
  padding: 20px;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  min-height: 200px;
  
}

.graphBox .box
{
  padding: 20px;
  max-width: 99%;
  box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background: white;
  height: 350px;

}

@media (max-width: 768px) {
  .graphBox
  {
    grid-template-columns: 1fr;
    height: auto;
  }
  .card {
    width: 100%;
    margin-bottom: 10px
  }
}
</style>


{%endblock%}